name: Spring Cloud Extension Sample

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    name: Test and Build on JDK ${{ matrix.java-version }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - java-version: 17

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}
          cache: "maven"
          server-id: sonatype
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Cache .m2
        uses: actions/cache@v3.3.1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven

      - name: Build
        run: |
          ./mvnw -B -U clean verify
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
